.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dashBoard{
  background: #1c46ed;
  width: 100%;
  display: inline-block;
}
.dashBoard-Children{
  align-content: center;
  align-items: inherit;
  background: #4063ed;
  display:inline-flex;
  margin: 4rem;
  position: relative;
  width: 20em;
  height: 20em;
  align-content: center;
}
.grand-child{
  background: #34a8eb;
  display: flexbox;
  margin-top: 8rem;
  align-content: center;
  margin-right: 6rem;
  margin-bottom: 2rem;
}
