<?xml version="1.0" encoding="UTF-8"?>
<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans   
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">  
	
	<!-- For Banking APP -->
	<bean id = "bankAccountServiceImpl" class = "com.vunnam.BankingApp.BankAccountServiceImpl"/>
		
	<bean id = "bankAccount" class = "com.vunnam.BankingApp.BankAccount">
		<property name="accountId" value = "10"/>
		<property name="accountHolderName" value="Vunnam"/>
		<property name="accountType" value="Savings"/>
		<property name="accountBalance" value="500040"/>
	</bean>
	
	<bean id="bankAccountepositoryImpl" class = "com.vunnam.BankingApp.BankAccountepositoryImpl"/>
	
	<bean id = "bankAccountController" class = "com.vunnam.BankingApp.BankAccountController" autowire="constructor"/>
</beans>